*{
    box-sizing: border-box;
}

$primary-color:#ffc87a;
$text-color:    #1a2b5f;
$text-gray:    #c6cad7;

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    color: $text-color;
    line-height: 1.4;
}
 
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}
.container{
    max-width: 1210px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}


// Khởi tạo flex để tái sử dụng
@mixin flex ($align: flex-start, $justify: flex-start , $wrap: nowrap , $dir: row){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
    flex-direction: $dir;
}

//Khởi tạo giá trị Height và width
@mixin size ($width, $height:$width){
    width: $width;
    height: $height;
}

.header{
    padding-top: 4rem;
    &__inner{
        @include flex(center,space-between);
    }
    &__menu{
        &-list{
            @include flex(center)
        }
        &-item{
            margin-left: 5rem;
            &:last-child{
                margin-left: 7rem;
            };
        }
        &-link{
            color: $text-color;
            font-size: 1.6rem;
            transition: color .3s linear;
            &:hover{
                color: $primary-color;
            }
        }
    }
}

.logo{
    font-size: 2rem;
    font-weight: 600;
    color: $text-color;
    text-decoration: none;
    &__text{
        color: $primary-color;
    }
}

.banner{
    padding-top: 15rem;
    padding-bottom: 15rem;
    max-width: 80rem;
    text-align: center;
    margin: 0 auto;
    &__heading{
        font-weight: 700;
        font-size: 6rem;
        margin-bottom: 2rem;
    }
    &__desc{
        font-size: 1.8rem;
        font-weight: 300;
        margin-bottom: 4rem;
    }
    &__buttons{
        display: flex;
        justify-content: center;
        align-items: stretch;
        .btn{
            margin: 1rem;
        }
    }
}

.btn{
    cursor: pointer;
    outline: none;
    font-size: 1.6rem;
    text-align: center;
    color: $text-color;
    padding: 1.5rem 3rem;
    display: inline-block;
    border: 0;
    background: transparent; // vi mot so trinh duyet backgroud cua buttom se co mau xam nen se rerest
    &--border{
        border: 1px solid currentColor;
    }
    &--rounded{
        border-radius: 5rem;
    }
    &--primary{
        background-color: $primary-color;
        &.has-shadow{
            box-shadow: 0 10px 35px -5px $primary-color;
        }
    }

}

.category{
    &__list{
        @include flex(stretch,space-between,wrap)
    }
    &__item{
        width: calc(25% - 22.5px);
        padding: 2.5rem;
        background-color: #fafafa;
        border-radius: 2rem;
        transition: transform .5s;
        &:nth-child(1){
            box-shadow:0 20px 35px -5px rgba( 255, 151 , 195, 0.25);
        }
        &:nth-child(2){
            box-shadow:0 20px 35px -5px rgba( 255, 112 , 109, 0.25);
        }
        &:nth-child(3){
            box-shadow:0 20px 35px -5px rgba( 133, 152 , 255, 0.25);
        }
        &:nth-child(4){
            box-shadow:0 20px 35px -5px rgba( 255, 200 , 122, 0.25);
        }

        //trường hợp Name chỉ có nhiều hơn 2 dòng
        @include flex(stretch,flex-start ,nowrap ,column );
        &:hover{
            cursor: pointer;
            transform: translateY(-20%);
            box-shadow: -1px 20px 15px 4px rgba(0, 0, 0, 0.2), -1px 5px 3px 0px rgba(0, 0, 0, 0.1);
        }

    }
    &__image{
        border-radius: inherit;
        @include size(100%, 23rem);
        //xử lý khi hình ảnh bị méo
        object-fit: cover;

        margin-bottom: 4rem;

    }
    &__name{
        font-size: 2.5rem;
        margin-bottom: 2.5rem;

        // Giả xử trường hợp user nhập tên dài quá thì phải làm sao
        // white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;

    }
    &__details{
        font-size: 1.4rem;
        color: $text-gray;
         // trường hợp Name chỉ có nhiều hơn 2 dòng
         margin-top: auto;

        i {
            margin-left: 1.5rem;;
        }
    }
}


.feature{
    padding-top: 18rem;
    &__item{
        display: flex;
        align-items: center;
        margin-bottom: 15rem;
        &:nth-child(odd){
            .feature__infor{
                padding-left: 10rem;
            }
        }
        &:nth-child(even){
            flex-direction: row-reverse; 
            .feature__infor{
                padding-right: 10rem;
            }
        }
    }
    &__image,&__infor{
        width: 50%;
    }
    // &__infor{
    //     padding-left: 10rem;
    // }
    &__title{
        font-size: 4rem;
        font-weight: 600;
        margin-bottom: 2.5rem;
    }
    &__desc{
        font-weight: 300;
        font-size: 1.4rem;
        margin-bottom: 4rem;
        line-height: 1.8;
    }
    &-intro{
        &__item{
             font-weight: 600;
             margin-bottom: 2rem;
             text-decoration: underline;
             font-size: 1.8rem;
             padding-left: 3rem;
             &--circle{
                 text-decoration: none;
                 position: relative;
                 // đoạn này dùng để tạo 4 chấm màu trước thẻ P
                 &::before{
                     content: "";
                     position: absolute;
                     top: 50%;
                     left: 0;
                     width: 2.5rem;
                     height: 2.5rem;
                     border-radius: 2.5rem;
                     background-color: pink;
                     transform: translateY(-50%); // dùng để canh giữa cho chấm tròn
                 }
                 &:nth-child(2)::before{
                     background-color: darkorange;
                 }
                 &:nth-child(3)::before{
                     background-color: greenyellow;
                 }
                 &:last-child::before{
                     background-color: rgb(0, 255, 0);
                 }
             }
        }
    }
    &-best{
        &__list{
             @include flex(flex-start,space-between,wrap)
     
        }
        &__item{
            width: calc(50% - 3rem);
            margin-bottom: 5rem;
            i{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &__icon{
            width: 5rem;
            height: 5rem;
            border-radius: 4px;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
            color: orangered;
            position: relative;
            z-index: 1;

            &--puple{
                color: purple;
            }
            &--green{
                color: rgb(54, 241, 54);
            }
            &--blue{
                color: rgb(240, 10, 10);
            }

            &:after{
                content: "";
                width: 100%;
                height: 100%;
                border-radius: inherit;
                background-color: currentColor;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                opacity: 0.25;
            }
        }
        &__title{
            font-size: 1.6rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        &__desc{
            font-weight: 300;
        }
    }
    
}

//Trường hợp nếu Text quá dài mà ta chỉ muốn hiển thị 2 dòng
.text-clamp{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    &--2 {
        -webkit-line-clamp: 2;
    }
}

.partner{
    margin-bottom: 19rem;
    &__container{
        max-width: 83rem;
        text-align: center;
    }
    &__title{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 7rem;
        padding-bottom: 7rem;
        border-bottom: 1px solid currentColor;
    }
    &__list{
        @include flex(center,space-between)
    }
}

.connect{
    text-align: center;
    margin-bottom: 17rem;
    &__title{
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 3.5rem;
    }
    &__notice{
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 6rem;
        span{
            color: $primary-color;
        }
    }
    &__list{
        @include flex(stretch,space-between)
    }
    &__item{
        position: relative;
        width: calc(25% - 22.5);
        &:hover > .connect__overlay{
            bottom: 0;
            height: 100%;
          opacity: 0.7;
             
             
            
        }
    }
    &__image{
        display: block;
        border-radius: 25px;
    }
    &__overlay{
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        overflow: hidden;
        width: 100%;
        height:0;
        transition: .5s ease;
        border-radius: 25px;
        z-index: 1;
    }
    &__link{
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 1rem;
        background-color: rgb(21, 255, 0);
        border: none;
        border-radius: 4px;
        font-family: "poppins";
        cursor: pointer;
        z-index: 2;
      
    }

}

.subscribe{
    margin-bottom: 5rem;
    &__container{
        @include flex(flex-start,space-between);
        padding-bottom: 8rem;
        border-bottom: 2px solid;
    }
    &__title,
    &__info{
        width: 50%;
    }
    &__title{
        font-size: 2rem;
        font-weight: bold;
        max-width: 43rem;
    }
    &__form{
        background-color: #f2f1f6;
        @include flex(center,space-between);
        padding: 2rem;
        margin-bottom: 3.5rem;
    }
    &__input,
    &__button{
        padding: 0;
    }
    &__input{
        border: 0;
        outline: none;
        background-color: transparent;
        font-size: 1.4rem;
        font-family: "poppins";
        flex-grow: 1;
        padding-right: 1.5rem;
    }
    &__button{
        background-color: transparent;
        border: 0;
        outline: none;
        cursor: pointer;
    }
    &__social i {
        margin-left: 4rem;
    }
}

.footer{
    &__container{
        @include flex(flex-start,space-between );
    }
    &__item{
        width: 25%;
    }
    &__link{
        color: $text-color;
        font-size: 1.4rem;
        display: block;
        margin-bottom: 3rem;
        // Thuộc tính này dùng để fix chiều dài con trỏ chuột theo độ dài của link
        width: fit-content;
    }
}

//Tỉ lệ màn hình nhỏ nhất còn được áp dụng => có nghĩa từ 500px trở lên thì sẽ áp dụng đoạn code này
// Đây là phương thức mobile first
// @media screen and (min-width: 500px){
//     .banner{
//         display: none;
//     }
// }

//Tỉ lệ màn hình nhỏ nhất còn được áp dụng => có nghĩa từ 1024px trở lên thì sẽ áp dụng đoạn code này
// @media screen and (min-width:1024px){
//     .category{
//         display: none;
//     }
//     .banner{
//         display: block;
//     }
// }

//Tỉ lệ màn hình nhỏ nhất còn được áp dụng => có nghĩa từ 500px trở lên thì sẽ áp dụng đoạn code này
// Đây là phương thức Desktop first
// @media screen and (max-width: 1023px){
//     .banner{
//         display: none;
//     }
// }

@media screen and (max-width: 1023px){
    .banner{
        padding-top: 5rem;
        padding-bottom: 5rem;
        &__heading{
            font-size: 4rem;
            margin-bottom: 2rem;
        }
        &__desc{
            font-size: 1.6rem;
        }
        &__buttons > .btn{
            font-size: 1.4rem;
        }
    }
    .category{
        &__item{
            width: calc(50% - 22.5px);
            margin-bottom: 2.5rem;
        }
    }
    .feature{
        padding-top: 10rem;
        &__item{
            flex-direction: column;
            margin-bottom: 8rem;
            &:nth-child(even){
                flex-direction: column;
                .feature__infor{
                    padding: 0;
                }
            }
            &:nth-child(odd) .feature__infor{
                padding: 0;
            }
        }
        &__image,
        &__infor{
            width: 100%;
        }
        &__image img{
            margin: 0 auto 5rem;
        }
    }
    .partner{
        &__title{
            margin-bottom: 4rem;
            padding-bottom: 4rem;
        }
    }
    .connect{
        &__item{
            width: calc(25% - 22.5px);
        }
        &__image{
            width: 100%;
            object-fit: cover;
        }
    }
}    
/*
@media screen and (max-width: 767px){
    .header{
        &__menu{
            display:  none;
        }
    }
    .category{
        &__item{
            width: 100%;
            margin-bottom: 2.5rem;
        }
    }
    .partner{
        margin-bottom: 5rem;
        &__list{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item{
           width: 50%;
           margin-bottom: 2rem;
           img{
               margin: 0 auto;
           }
        }
    }
    .connect{
        margin-bottom: 5rem;
        &__list{
            flex-wrap: wrap;
        }
        &__item{
            width: calc(50% - 1rem);
            margin-bottom: 2rem;
            img{
                width: 100%;
            }
        }
    }
    .subscribe{
        &__container{
            flex-direction: column;
        }
        &__title{
            width: 100%;
            margin-bottom: 2rem;
        }
        &__info{
            width: 100%;
        }
    }
    .footer{
        &__container{
            flex-wrap: wrap;
        }
        &__item{
            width: 100%;
            margin-bottom: 2rem;
        }
    }
}

@media screen and (max-width: 479px){

    .banner{
        &__heading{
            font-size: 3rem;
        }
        &__buttons > .btn{
            font-size: 1.2rem;
        }
    }
    .footer{
        &__item{
            width: calc(25% - 10px);
            .logo{
                font-size: 1.6rem;
            }
        }
    }
}
*/